<div class="d-flex justify-content-center">
    <div class="card align-items-center" style="width:300px">
        <img class="card-img-top" src="/assets/images/11.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Medium coffee pot</h4>
          <p class="card-text">Some example text.</p>
        </div>
    </div>

    <div class="card align-items-center" style="width:300px">
        <img class="card-img-top" src="/assets/images/12.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Medium Bruka Teapot</h4>
          <p class="card-text">Some example text.</p>
        </div>
    </div>

    <div class="card align-items-center" style="width:300px">
        <img class="card-img-top " src="/assets/images/11.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text.</p>
        </div>
    </div>

    <div class="card align-items-center" style="width:300px">
        <img class="card-img-top" src="/assets/images/12.png" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Frangipani</h4>
          <p class="card-text">Some example text.</p>
        </div>
    </div>

</div>