<div class="d-flex justify-content-center">
    <!-- <div class="card align-items-center" style="width:400px">
        <img class="card-img-bottom" src="/assets/images/15.png" alt="Card image">
        <div class="card-body">
          <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Ipsa aliquam non nihil provident tenetur unde fugit, error quos, consequuntur asperiores iure quo voluptas dolor, velit accusantium <br> Temporibus, iure saepe.</p>
        </div>
    </div>

    <div class="card align-items-center" style="width:400px">
        <img class="card-img-bottom" src="/assets/images/15.png" alt="Card image">
        <div class="card-body">
          <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Ipsa aliquam non nihil provident tenetur unde fugit, error quos, consequuntur asperiores iure quo voluptas dolor, velit accusantium <br> Temporibus, iure saepe.</p>
        </div>
    </div> -->
    
    <form class="mb-5" [formGroup]='submitForm'  (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="inputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="inputEmail" formControlName="inputEmail" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone.</div>
      </div>
      <div class="-4">
        <label for="textArea1" class="form-label">Your text here</label>
        <textarea class="form-control" id="textArea1" formControlName="textArea1" rows="4"></textarea>
      </div>
      <div class=" mb-3 form-check">
        <input type="checkbox" class="form-check-input" formControlName="check1" id="check1">
        <label class="form-check-label" for="check1">Remember Email</label>
      </div>
      <button type="submit" class=" btn btn-primary mb-5">Submit</button>
    </form>

    <!-- <app-email-editor></app-email-editor> -->

</div>
