
<nav class="navbar navbar-expand-lg  ">
    <div class="container-fluid d-flex ">
      
      <div class="collapse navbar-collapse justify-content-left" id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex ms-3">
          <h3 class="nav-link ms-5" routerLink="popular">Popular</h3>
          <hr>
          <!-- <a class="nav-link" routerLink='teapots'>All Teapots</a>
          <a class="nav-link" routerLink="ceramic">Ceramic</a>
          <a class="nav-link" routerLink="porcelain">Porcelain</a>
          <a class="nav-link" routerLink="frangipani">Frangipani</a> -->
        </div>
      </div>
    </div>
  </nav>

<app-items></app-items>
