<div class="container-fluid bg-dark text-white pt-5 cardd">
    <div class="col-md-6 one">
        <p>Teapot collection with premium quality</p>
        <h1>Simple way to <br> choose your <br> <span></span> teapots</h1>

        <form>
            <input type="text" placeholder="Enter your E-mail to get discount 20%" class="rounded-pill bg-dark text-white " name="" id="">
            <button><span class="material-icons-round rounded-pill">arrow_right_alt</span></button>
        </form>
    </div>
    
    <div class="col-md-5 d-flex justify-content-space-around justify-content-center">
        <div class="rounded-pill images">
            <img src="/assets/images/11.png" class="responsive" alt="">
        </div>
        <div class="mt-5">
            <div class=" images ms-3 mt-3 second">
                <img src="/assets/images/14.png" class="responsive " alt="">
            </div>
            <div class="images ms-3 mt-2 third">
                <img src="/assets/images/12.png" class="responsive " alt="">
            </div>
        </div>
        
    </div>
</div> 
<app-section></app-section>