<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid mb-5">
        <a class="navbar-brand ms-5 ps-4" routerLink="active">
            Our Products
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="">HOME</a>
          <a class="nav-link" routerLink="/discover">DISCOVER</a>
        </div>
        <div class="side">
            <!-- <span class="material-icons-outlined me-3">search</span> -->
            <span class="material-icons-outlined">shopping_cart</span>
        </div>
      </div>
    </div>
    
  </nav>
<div class="navbar-light bg-light d-flex justify-content-center mb-5">
    <!-- <img src="./assets/images/1.jpg" class="w-20 h-20" alt=""> -->
    <h4 class="text-center">Various types of unique teapoty products, <br> minimalist and the best</h4>
</div>


  <router-outlet></router-outlet>