<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-fluid mb-5">
        <a class="navbar-brand ms-5 ps-4" routerLink="active">
            Discover
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="">HOME</a>
          <a class="nav-link" routerLink="/products">PRODUCTS</a>
        </div>
        <div class="side">
            <!-- <span class="material-icons-outlined me-3">search</span> -->
            <span class="material-icons-outlined">shopping_cart</span>
        </div>
      </div>
    </div>
</nav>
<app-main></app-main>