<div class="d-flex justify-content-center">
    <div class="card align-items-center" style="width:400px">
        <img class="card-img-bottom" src="/assets/images/15.png" alt="Card image">
        <div class="card-body">
          <!-- <h4 class="card-title">Frangipani</h4> -->
          <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Ipsa aliquam non nihil provident tenetur unde fugit, error quos, consequuntur asperiores iure quo voluptas dolor, velit accusantium <br> Temporibus, iure saepe.</p>
        </div>
    </div>

    <div class="card align-items-center" style="width:400px">
        <img class="card-img-bottom" src="/assets/images/15.png" alt="Card image">
        <div class="card-body">
          <!-- <h4 class="card-title">Frangipani</h4> -->
          <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Ipsa aliquam non nihil provident tenetur unde fugit, error quos, consequuntur asperiores iure quo voluptas dolor, velit accusantium <br> Temporibus, iure saepe.</p>
        </div>
    </div>

    <div class="card align-items-center" style="width:400px">
        <img class="card-img-bottom" src="/assets/images/15.png" alt="Card image">
        <div class="card-body">
          <!-- <h4 class="card-title">Frangipani</h4> -->
          <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Ipsa aliquam non nihil provident tenetur unde fugit, error quos, consequuntur asperiores iure quo voluptas dolor, velit accusantium <br> Temporibus, iure saepe.</p>
        </div>
    </div>

</div>
<app-footer></app-footer>